.provider-settings {
  display: none;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #f9f9f9;
}

.button.btcpay-apikey-link {margin:10px 0;}

#check_connection_coinsnap_button,
#check_connection_btcpay_button {
  margin-right: 40px;
  background-color: #f6f6f6;
  border: 1px solid #444444;
  cursor: pointer;
  padding: 6px 14px;
  border-radius: 8px;
}

#check_connection_coinsnap_button:hover,
#check_connection_btcpay_button:hover {
  background-color: #f1f1f1;
}

